@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 65.2%;
  background: #0f2b05;
}

header {
  padding: 2.4rem 0;
}

header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  min-height: 80vh;
}

.front-card,
.content,
.back-card {
  position: absolute;
}

.card {
  position: relative;
  height: 24rem;
  width: 16rem;

  transform-style: preserve-3d;
  perspective: 100rem;
}

.card:hover .back-card {
  transform: rotateY(0deg);
}

.card:hover .front-card {
  transform: rotateY(-180deg);
}

.card .image {
  display: flex;
  justify-content: center;

  padding: 1.6rem 0;
}

.front-card,
.back-card {
  height: 100%;
  width: 100%;
  text-align: center;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/images/background-card.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.8rem;

  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.content {
  left: 0;
  top: 50%;
  width: 100%;
  perspective: 10rem;
  transform: translateY(-50%) translateZ(6rem) scale(0.94);
}

.front p {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.front p::after {
  content: "";
  display: block;

  height: 0.2rem;
  width: 6.4rem;
  margin: 0 auto;
  margin-top: 0.8rem;

  background-color: white;
}

.front span {
  color: white;
  font-size: 1.6rem;
}

.back-card {
  background: #185b34;
  transform: rotateY(180deg);
}

.back {
  color: white;
  padding: 0.8rem;
}

.back h2 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.back span {
  font-size: 1.2rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  margin: 10px 0;
}

.icons a {
  text-decoration: none;
}

.icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #185b34;
  font-size: 2rem;

  height: 2.8rem;
  width: 2.8rem;

  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  cursor: pointer;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.skills h2 {
  color: #fff;
  font-size: 2.4rem;

  position: relative;
  width: max-content;
}

.skills h2::before,
.skills h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.skills h2::before {
  background: #0f2b05;
  animation: typewriter 4s steps(24) 2s forwards;
}

.skills h2::after {
  width: 0.2rem;
  background-color: #fff;
  animation: typewriter 4s steps(24) 2s forwards,
    blink 6s steps(24) 750ms forwards;
}

.skills .columns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1.6rem;
}

.skills .columns .column {
  min-height: 48vh;
  min-width: 24vw;
}

.skills .columns .column h3 {
  color: #fff;
  font-size: 1.4rem;

  margin-bottom: 0.8rem;

  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 750ms forwards;
}

.skills .columns .column .divide-x {
  height: 2rem;
  width: 0.1rem;
  background: rgba(34, 197, 94, 0.2);
  margin-left: 4px;
}

.skills .columns .column .divide-x:last-child {
  height: 0;
  width: 0;
  background: none;
  margin-left: 0;
}

.skills .columns .column .content-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.skills .columns .column .content-row p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;

  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 3s ease 850ms forwards;
}

.skills .columns .column .content-row .circle {
  color: #fff;
  font-size: 2rem;

  height: 0.6rem;
  width: 0.6rem;

  background-color: #22c55e;
  border-radius: 50%;
  filter: blur(4px);
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }

  .skills .columns {
    flex-direction: column;
  }

  .skills .columns .column {
    min-height: 32vh;
  }
}
